@font-face {
    font-family: "harry_p";
    src: local("harry_p"),
     url('./../../../assets/fonts/harry_p/HARRYP__.TTF') format("truetype");
    font-weight: bold;
}

.qqsPicture {
    height: 20em;
    width: 20em;
    position: absolute;
    top: 215%;
    right: 13%;
    border-radius: 50px;
    box-shadow: 0px 0px 50px 0px rgb(253, 101, 96);
    float: right
}

.qqsContent {
    float: left;
    position: absolute;
    top: 197%;
    width: 40%;
    justify-content: center;
    text-align: center;
    left: 7%
}

.qqsName {
    // float: right;
    // position: relative;
    // top: -5%;
    // right: 12%;
    font-size: 6em;
    color: #ffffff;
    font-family: 'harry_p', 'sans-serif';
    text-shadow: 2px 10px 10px rgb(253, 101, 96);
    text-align: center;
    padding: 8px 25px;
}

p {
    color: #ffffff;
    // position: relative;
    text-align: center;
    word-wrap: normal;
    // margin-right: 24%;
    position: absolute;
    top: 80%
}

.qqsShopButton {
    text-align: center;
    color: black;
    position: absolute;
    top: 120%;
    background: rgb(252, 179, 177);
    left: 35%;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgb(253, 101, 96);
}

.qqsShopButton:hover {
    background: rgb(255, 158, 155);
    box-shadow: 0px 0px 30px 0px rgb(253, 101, 96);
}