.footer {
    display:flex;
    position: fixed;
    height: 1rem;
    background-color: rgb(8, 7, 7);
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    .wrap {
        max-width: 1450px;
        padding: 20px 10px;
        margin: auto;
    }
}